body {
    font-family: Matemasie;
    font-style:inherit ; 
    text-align: center;
    background: url("bg.jpg");
    background-size: cover;
}

h1{
    color: rgb(110, 228, 255);
    text-shadow: 1px 1px 2px black, 0 0 25px #013884, 0 0 5px rgb(22, 3, 67);
    border-color: brown;
    color-scheme:initial;   
        
}

h2{
    color: rgb(254, 191, 136);
    text-shadow: 2px 2px 4px #430202;
}

#board {
    width: 540px;
    height: 540px;
    /* background-color: green; */

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

    background: url("soil.png");
    background-size: cover;
    border: 3px solid white;
    border-radius: 25px;
}

#board div {
    /* board = 540 x 540, divide into 3x3 tiles --> 180 x 180 per div */
    width: 180px; 
    height: 180px;
    background-image: url("pipe.png");
    background-size: cover;
}

#board div img {
    /* all img tags inside tiles */
    width: 100px;
    height: 100px;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}